--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple

boto3==1.28.30; python_full_version >= "3.7.1" and python_version < "4.0"
loguru==0.6.0; python_full_version >= "3.7.1" and python_version < "4.0"
pydantic==1.10.2; python_full_version >= "3.7.1" and python_version < "4.0"
python-dotenv==1.0.0; python_full_version >= "3.7.1" and python_version < "4.0"
typer==0.6.1; python_full_version >= "3.7.1" and python_version < "4.0"